.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* top-section {
  min-height: 100vh;
 } */

 .fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.bottom {
  height: 100%;
  position: relative;
  /* left: 0; */
  width: 100%;
  overflow: hidden;
  font-size: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .centerImgContainer {
  height: 60%;
}

.btnContainer {
  height: 40%
} */

.btn {
  display: inline-block;
  width: 20%;
}

.leftmost {
  margin-left: 20%;
}

.row {
  margin-top: 10px;
}

.textBox {
  display: inline-block;
  width: 37.725%;
  height: 33px;
  font-size: 15px;
  padding-left: 2%;
  padding-bottom: 5px;
}


.cornerLogo {
  position: absolute;
  display: inline-block;
  margin-left: 25px;
  width: 17%;
}

.comic {
  display: block;
  width: 500px;
  max-width: 100%;
  /* max-height: 100vh; */
  margin: 0px auto 25px auto;
}

.disclaimer {
  background-color: rgb(231, 0, 231);
  border-top: 2px solid rgb(231, 231, 231);
  text-align: center;
  position: fixed;
  height: 100%;
  left: 0px;
  bottom: 0px;
  height: 50px;
  font-size: 7px;
  width: 100%;
}

@media only screen and (min-height: 800px) {
  .comic {
    margin: 35px auto 55px auto;

  }
}

@media only screen and (min-height: 1300px) {
  .comic {
    width: 700px;
    margin: 55px auto 55px auto;

  }
}

@media only screen and (min-height: 900px) {
  .disclaimer {
    font-size: 10px;
    height: 70px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
